@import "../../global.scss";

.intro {
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar{
        display: none;
    }

    .title-position {
        margin: 196px 0 0 100px;
    }

    .quotation-position-1 {
        margin: 48px 0 0 100px;
    }

    .red-highlight-position {
        margin: 24px 0 0 100px;
    }

    .quotation-position-2 {
        margin: 4px 0 0 100px;
    }

    .quotation-position-3 {
        margin: 27px 0 0 100px;
    }

    .black-button-sizing {
        margin-left: 8px;
        width: 110px;
        height: 30px;
    }
}