@import "../../global.scss";

.right {
    .image {
        position: fixed;
        top: 0px;
        right: 0px;

        width: 50%;
        height: 100%;
        // vertical-align: middle;

        z-index: 8;

        background-color: transparent;

        // overflow: auto;
    }
}

@media only screen and (max-width: 600px) {
    .hide-mobile
    {display:none;}
}